.circle {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 0 50px;
  background-image: linear-gradient(to 
    left, #fff, #fff 50%, #000 50%, #000);
  animation: roll 10s linear infinite;
}

.yinyang {
  position: relative;
  background: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: linear-gradient(
    to left, #fff, #fff 50%, #000 50%, #000);
  animation: roll 4s linear infinite;
  animation-direction: reverse;
}

.yinyang:before, .yinyang:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.yinyang:before {
  top: 0;
  background: #fff;
  border: 18px solid #000;
}

.yinyang:after {
  top: 50%;
  background: #000;
  border: 18px solid #fff;
}

@keyframes roll {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(-360deg);
  }
}

.wrapper {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #efefef; */
}

.preloader-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  opacity: 0.5;
}